[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
connexion = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
gunicorn = "*"
jsonschema = "*"
swagger-ui-bundle = "*"
pytest = "<=4.*"

[dev-packages]

[requires]
python_version = "3.7"
